import { gql } from '@apollo/client'

{{#queries}}
const get{{_operation}} = gql`
    query get{{_operation}}(
        {{#args}}
        ${{name}}: {{type}}{{#required}}!{{/required}},
        {{/args}}
    ) {
        {{operation}}(
            {{#args}}
            {{name}}: ${{name}},
            {{/args}}
        ) {
            {{#fields}}
            {{.}}
            {{/fields}}
        }
    }
`
{{/queries}}
export {
{{#queries}}
    get{{_operation}},
{{/queries}}
}
