import { gql } from '@apollo/client'

{{#mutations}}
const {{operation}} = gql`
    mutation {{operation}}(
        {{#args}}
        ${{name}}: {{type}}{{#required}}!{{/required}},
        {{/args}}
    ) {
        {{operation}}(
            {{#args}}
            {{name}}: ${{name}},
            {{/args}}
        ) {
            {{#fields}}
            {{.}}
            {{/fields}}
        }
    }
`
{{/mutations}}
export {
{{#mutations}}
    {{operation}},
{{/mutations}}
}
