import { ApolloClientService } from '../apollo/ApolloClientService'
import { MutationClientOptions } from '../../utils/interfaces'
import {
{{#mutations}}
    {{_operation}}Mutation, {{_operation}}MutationVariables,
{{/mutations}}
} from '../types'
import {
{{#mutations}}
    {{operation}},
{{/mutations}}
} from '../operations/defaultMutations'
export class MutationsService extends ApolloClientService {
    {{#mutations}}
    {{operation}} (variables?: {{_operation}}MutationVariables, clientOptions?: MutationClientOptions ): Promise<{{_operation}}Mutation> {
        return this.doMutation<{{_operation}}Mutation, {{_operation}}MutationVariables>({{operation}}, variables, clientOptions )
    }
    {{/mutations}}
}
