import { ApolloClientService } from '../apollo/ApolloClientService'
import { ClientOptions } from '../../utils/interfaces'
import {
{{#queries}}
Get{{_operation}}Query, Get{{_operation}}QueryVariables,
{{/queries}}
} from '../types'
import {
{{#queries}}
get{{_operation}},
{{/queries}}
} from '../operations/defaultQueries'

export class QueriesService extends ApolloClientService {
    {{#queries}}
    get{{_operation}} (variables?: Get{{_operation}}QueryVariables, clientOptions?: ClientOptions ): Promise<Get{{_operation}}Query> {
        return this.doQuery<Get{{_operation}}Query, Get{{_operation}}QueryVariables>( get{{_operation}}, variables, clientOptions )
    }
    {{/queries}}
}
